@import "../../assets/styles/variables";

#basket {
  width: 239px;
  
  .head {    
    .title {
      display: block;
      padding: 9px 10px;
      background-color: $primary-color;
      color: #fff;
      font-size: $font-size-md;
      font-weight: $font-weight-normal;
    }

    .sub-title {
      display: block;
      padding: 9px 10px;
      color: #000;
      background-color: $yellow;
      font-size: $font-size-md;
      font-weight: $font-weight-normal;
    }
  }

  .content {
    border-bottom: 1px solid $gray;
    border-left: 1px solid $gray;
    border-right: 1px solid $gray;
    border-radius: 0 0 5px 5px;

    .passive-mode {
      padding: 20px;
      display: flex;
      align-items: center;

      .text {
        font-size: $font-size-md;
        font-weight: $font-weight-bold;
        color: #000;
        padding-left: 10px;
      }
    }

    .active-mode {
      .food-list {
        max-height: 300px;
        overflow-y: scroll;
      }
      .total-amount {
        padding: 0 9px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 30px;
        font-size: 11px;
        font-weight: 700;
      }
    }
  }
}