@import '../../assets/styles/variables';

.basket-food {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $gray;
  padding: 9px;

  &:last-child {
    border-bottom: none;
  }

  .menu-titles {
    width: 144px;
  
    .head {
      display: block;
      font-size: 9px;
      font-weight: 700;
      color: #FF6508;
      line-height: 14px;
    }

    .desc {
      font-size: 9px;
      font-weight: 400;
      line-height: 13px;
      padding-bottom: 0;
    }
  }

  .form-control {
    font-size: 9px;
    color: #000;
    box-sizing: border-box;
    text-align: center;
    width: 20px;
    height: 16px;
    line-height: 20px;
    border: 1px solid #DCDCDC;
    box-shadow: inset 0px 1px 3px rgb(0 0 0 / 26%);
    border-radius: 2px;
    margin-right: 5px;
  }

  .price {
    font-size: 9px;
    color: #000;
    margin-right: 8px;
  }

  .delete-icon {
    cursor: pointer;
    font-style: normal;
    font-size: 11px;
    line-height: 20px;
    font-weight: 600;
    color: $primary-color;
  }
}