@import '../../assets/styles/variables';

.restaurant-banner {
  box-sizing: border-box;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 153px;
  padding: 12px;
  border-radius: 5px;
  margin-bottom: 27px;

  .inner {
    display: inline-flex;
    align-items: center;

    .information {
      margin-left: 18px;

      .title {
        max-width: 350px;
        line-height: $font-line-height-lg;
      }

      .content {
        display: inline-flex;
        margin-top: 12px;

        .delivery {
          display: inline-flex;

          .icon-box {
            margin-left: 24px;
          }
        }
      }
    }
  }
}