$primary-color: #AB0012;
$yellow: #F5D66F;
$gray: #DCDCDC;
$green-light: #ABC44C;
$green-dark: #48912A;
$orange: #FF6508;
$orange-light: #EC9922;
$black-light: #333333;

$phone: 575px;
$phoneLarge: 768px;
$tablet: 994px;
$desktop: 1200px;

$container: 994px;

$font-size-xs: 10px;
$font-size-base: 11px;
$font-size-md: 12px;
$font-size-lg: 16px;

$font-line-height-xs: 14px;
$font-line-height-base: 15px;
$font-line-height-md: 16px;
$font-line-height-lg: 22px;

$font-weight-thin: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;